.dashboard{
    width: 100vw;
    height: 80vh;
    background-color: #272727;
    display: flex;
    justify-content: center;
}
.hero{
    width: 100vw;
    background-color: #1D1D1D;
    display: flex;
    justify-content: center;
}
.footer{
    width: 100vw;
    background-color: #272727;
    display: flex;
    justify-content: center;
}
.container{
    width: 80vw;
    padding: 30px 0;
}
.heroContainer{
    background-color: #272727;
    border-radius: 10px;
}