.inputName {
  background-color: #101830 !important;
  font-weight: 600 !important;
  padding: 0 5px !important;
  display: inline-block !important;
  color: #e0e0e0 !important;
  border: 1px solid white !important;
  border-radius: 4px;
}

.inputName::placeholder {
  color: white !important;
}

.inputField{
  margin-top: 6px;
  height: 35px !important;
  border: 1px solid white !important;
  border-radius: 5px;
  background-color: white;
  input{
    color:white;
  }
}

.inputField:hover {
  cursor: pointer !important;
}
